@font-face {
  font-family: 'MyFont';
  src: url('/MyFont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.image-in-question-hidden {
  width: 22vw;
  display: block;
  filter: brightness(0.03);
  padding: 1rem;
}

.image-in-question-blur {
  width: 22vw;
  display: block;
  filter: blur(9px);
  padding: 1rem;
}

.image {
  width: 20vw;
  display: block;
  margin-right: 8rem;
}

html,
body {
  font-family: 'MyFont', sans-serif;
  overflow-x: hidden;
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./assets/background2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -2;
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: -1;
}




.answer-text {

  display: flex;
  flex-direction: row;
  font-size: 2.5rem;

  align-items: center;
  justify-content: center;
  width: 80%;
  font-family: 'MyFont', sans-serif;
  background-color: white;
  border: 3px solid black;
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 6px 5px 2px black;
  text-align: center;

}

.answer-text-with-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* Dos columnas iguales */
  gap: 0px;
  /* Espacio entre columnas (opcional) */
  font-size: 2.5rem;

  align-items: center;
  justify-content: start;
  width: 95%;
  font-family: 'Lucida Handwriting', cursive;
  background-color: white;
  border: 3px solid black;
  padding: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 6px 5px 2px black;


}

.answer-text-with-images:hover {
  transform: scale(1.1);
}

.add-audio-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: fit-content;
  height: fit-content;
  font-family: 'Lucida Handwriting', cursive;
  background-color: white;
  border: 3px solid black;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 6px 5px 2px black;
  font-size: 1rem;
}

.add-audio-button:hover {
  box-shadow: 2px 1px 2px black;
  background-color: white;
  color: black;
  border: 3px solid black;
  transform: scale(1.1);

}


.on-correct-images {
  margin-top: 14rem;
  display: grid;
  column-gap: 50px;
  row-gap: 0px;
  margin-right: 4rem;
  margin-left: 0.5rem;
  z-index: 111;
}

.image-on-correct {
  height: auto;
  object-fit: contain;
  /* No recorta ni deforma */
  display: block;
}

.image-answer {
  width: 5.5vw;
  display: block;
}

.selected {
  background-color: green;
}

.mode-selector-container {
  margin-top: 12rem;
}

.continuar {
  position: sticky;
  left: 90%;
  top: 0%;
  font-size: 6rem;
  max-width: fit-content;
  font-family: 'Lucida Handwriting', cursive;
  background-color: rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0.85);
  border: 3px solid transparent;
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 6px 5px 2px transparent;
  z-index: 111;
  animation: blink 2s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}

.contestar {
  position: sticky;
  left: 85.5%;
  top: 85.5%;
  font-size: 2rem;
  max-width: fit-content;
  font-family: 'Lucida Handwriting', cursive;
  background-color: rgba(255, 255, 255, 0.9);
  border: 3px solid black;
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 6px 5px 2px black;
  z-index: 111;

}

.comenzar {
  font-size: 128px;
  max-width: fit-content;
  font-family: 'Lucida Handwriting', cursive;
  background-color: transparent;
  padding: 1rem;
  border-radius: 10px;
  color: #bbbbbb;
  padding: 1rem;
  cursor: pointer;
  box-shadow: 6px 5px 2px black;
  position: absolute;
  top: 9%;
  left: 30%;
}

.continuar:hover {
  box-shadow: 2px 1px 2px transparent;
  transform: scale(1.1);

  background-color: transparent;
  color: rgb(255, 255, 255);
  border: 3px solid transparent;
}

.comenzar:hover {
  box-shadow: 2px 1px 2px black;
  transform: scale(1.1);

  border: 3px solid black;
}


.answer-text:hover {
  box-shadow: 2px 1px 2px black;
  transform: scale(1.1);

  background-color: white;
  color: black;
  border: 3px solid black;
}

.answers-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 111;


}

.question-audios {
  margin-top: 1.4rem;
  margin-left: 2rem;

}

audio {
  margin-top: 0rem;
}

h1 {
  margin-top: 3rem;
  margin-bottom: 0rem;
  text-shadow: 5px 4px 1px rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 1rem;
  width: 100%;
  height: 100%;
  text-align: start;
  font-size: 90px;

}

h2 {
  position: absolute;
  top: 1%;
  left: 1.5%;
  text-shadow: 2px 1px 2px red;
  color: white;

  padding: 1rem;
  padding-left: 4rem;

  width: 92%;
  height: fit-content;
  text-align: start;
  font-size: 64px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.question-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;

}

.question {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 1rem;
  z-index: 111;

}

.answer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  margin-top: 0rem;
  width: 100%;
  height: 100%;
}

.on-correct-text {
  padding: 1rem;
}

.on-incorrect-text {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
}

.on-correct-resources {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  width: 100%;
  height: 100%;
}

.on-incorrect-resources {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  width: 100%;
  height: 100%;

}



.quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

}

.score {
  position: absolute;
  top: 22.1%;
  left: 0;
  text-shadow: 2px 1px 2px red;
  color: white;
  width: 43.35%;
  height: fit-content;
  text-align: center;
  font-size: 24;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 8rem;

}

.question-index {
  position: absolute;
  top: 22.1%;
  right: 72%;
  text-shadow: 2px 1px 2px red;
  color: white;
  width: 50%;
  height: fit-content;
  text-align: center;
  font-size: 24;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 18rem;
}

.score-and-question-index {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.question-images {}

.tabla-tipos {
  position: absolute;
  right: 0;
  top: 23%;
}

.image-answer-type {
  display: block;
  max-height: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
}

.difficulty-selector {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: space-evenly;
  padding: 0.6 rem;
}

.difficulty-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'MyFont', sans-serif;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 6px 5px 2px black;
  width: 200px;
  height: 200px;
  color: transparent;
  background-color: transparent;
  padding: 1rem;
  margin-bottom: 1rem;
}

.difficulty-button:hover {
  box-shadow: 2px 1px 2px black;
  background-color: white;
  border: 3px solid black;
  transform: scale(1.1);

}

.pokeball {
  background-image: url("./assets/pokeball.png");
  background-size: cover;
}

.greatball {
  background-image: url("./assets/greatball.png");
  background-size: cover;
}

.ultraball {
  background-image: url("./assets/ultraball.png");
  background-size: cover;
}

.sanaball {
  background-image: url("./assets/ultraball.png");
  background-size: cover;
}

.safariball {
  background-image: url("./assets/safariball.png");
  background-size: cover;
}

.masterball {
  background-image: url("./assets/masterball.png");
  background-size: cover;
}

.netball {
  background-image: url("./assets/netball.png");
  background-size: cover;
}

.parkball {
  background-image: url("./assets/parkball.png");
  background-size: cover;
}

.nestball {
  background-image: url("./assets/nestball.png");
  background-size: cover;
}

.quickball {
  background-image: url("./assets/quickball.png");
  background-size: cover;
}

.sanaball {
  background-image: url("./assets/sanaball.png");
  background-size: cover;
}

.beastball {
  background-image: url("./assets/beastball.png");
  background-size: cover;
}

.diveball {
  background-image: url("./assets/diveball.png");
  background-size: cover;
}

.duskball {
  background-image: url("./assets/duskball.png");
  background-size: cover;
}

.friendball {
  background-image: url("./assets/friendball.png");
  background-size: cover;
}

.heavyball {
  background-image: url("./assets/heavyball.png");
  background-size: cover;
}

.honorball {
  background-image: url("./assets/honorball.png");
  background-size: cover;
}

.levelball {
  background-image: url("./assets/levelball.png");
  background-size: cover;
}

.loveball {
  background-image: url("./assets/loveball.png");
  background-size: cover;
}

.lureball {
  background-image: url("./assets/lureball.png");
  background-size: cover;
}

.luxuryball {
  background-image: url("./assets/luxuryball.png");
  background-size: cover;
}

.moonball {
  background-image: url("./assets/moonball.png");
  background-size: cover;
}

.preciousball {
  background-image: url("./assets/preciousball.png");
  background-size: cover;
}

.fastball {
  background-image: url("./assets/fastball.png");
  background-size: cover;
}

.repeatball {
  background-image: url("./assets/repeatball.png");
  background-size: cover;
}

.timerball {
  background-image: url("./assets/timerball.png");
  background-size: cover;
}

.indev {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  font-family: 'MyFont', sans-serif;
  border: 3px solid black;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 6px 5px 2px black;
  width: 200px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.4);
  color: black;
  padding: 1rem;
  margin-bottom: 1rem;
  filter: blur(1.7px);

}

.gray-filter {
  filter: grayscale(100%);
}



.on-correct-audios {
  position: absolute;
  top: 40.333%;
  left: 60.1555%;
}